body {
    font-size: 1em;
    font-family: 'Helvetica', 'Arial', 'sans-serif';
    line-height: 180%;
    background: steelblue;
    padding: 8px;
    color: white;
}

h1 {
    line-height: 130%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

code {
    font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
}

.oneColumn {
    max-width: 50em;
    margin-left: auto;
    margin-right: auto;
}

.header td {
    padding: 0 5px 0 5px;
    margin: 0;
}

.username {
    font-size: 3em;
}

.meta {
    font-size: 0.8em;
    text-align: right;
    line-height: 90%;
}

.date {
    white-space: nowrap;    
}

code {
    line-height: 130%;
    color: #04b;
}

.outer a, .outer {
    color: white;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif
}

.content {
    padding: 18px;
    margin: 12px;
    background: white;      
    color: black;
    border: 2px solid black;     
    box-shadow: 10px 10px 10px #2b506e;
}

.content a {
    font-weight: bold;
    color: black;
}

.recent {
    margin-top: 20px;
}

.recent td {
    padding: 2px 8px 6px 8px;
}

.topics, .rss {
    text-align: center;
}

.topics {
    font-size: 1.5em;
    opacity: 0.5;
}